@import 'src/sass/common/form-container.scss';

$size: 2.5rem;

.login-container {
  min-height: 100vh;
  @include flexbox(flex, row, unset, center, center);
}

.login-form-container {
  flex: 0 1 33.75rem;
  max-width: 33.75rem;
  margin-left: 6.25rem;

  & h1 {
    color: #4a4a4a;

    & span {
      margin-top: 1.25rem;
    }
  }

  & input {
    max-width: 100%;
  }

  & .form-actions label {
    font-weight: 500;
  }
}

.social-login {
  margin-top: 2.5rem;
  text-align: center;

  & button {
    width: 18.75rem;
    height: $size;
    line-height: $size;
    border-radius: 0;
    color: white;
    position: relative;
    padding-left: $size;
  }

  & button span {
    position: absolute;
    left: 0;
    top: 0;
    @include size($size);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  & button:last-of-type {
    margin-top: 0.625rem;
  }

  & button.facebook-login {
    background-color: #4267B2;

    &:hover {
      background-color: #434656;
    }
  }

  & button.google-login {
    background-color: #dc4a3d;

    &:hover {
      background-color: #96000C;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .login-container {
    padding: 0 1.25rem;
  }
}

@media only screen and (max-width: 1024px) {
  .login-container {
    flex-direction: column;
  }

  .login-form-container {
    margin-left: 0;

    & form {
      margin: 1rem 0;
    }
  }
}
