$greenColor: #40a960;

.order-filters {
  margin-bottom: 1.25rem;

  & form {
    display: flex;

    & select {
      flex: 0 0 9.375rem;
      height: 2.5rem;
      font-size: 0.875rem;
      line-height: 1;
      color: $greenColor;
      background-color: white;
      border: 1px solid $greenColor;
      border-radius: 3px;
      padding: 0 0.75rem;
    }

    & select:not(:last-of-type) {
      margin-right: 1rem;
    }

    & select::-ms-expand {
      display: none;
    }
  }

}

.pagination {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54);
  display: block;
  text-align: right;

  & select {
    width: 43px;
    height: 17px;
    padding: 0;
    background-color: transparent;
    border: 0;
    color: rgba(0, 0, 0, 0.54);

    &:hover {
      cursor: pointer;
    }
  }

  & .navFromTo {
    margin-left: 1.25rem;
  }

  & button {
    width: 3.125rem;
    background-color: transparent;
    border: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 480px) {
  .pagination button {
    width: 1.125rem;
  }
}
