@import "../../sass/common/variables.scss";

nav {
  @include size(100%);
  background-color: black;
  color: white;
  padding: 3.125rem 0 0 1rem;

  & p.show-more,
  & a {
    @include font(1rem, 400, 2.5rem);
    display: block;
    color: white;
    text-decoration: none;
    z-index: 1;
    padding-left: 1rem;
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: 1.25rem;
    }

    &:before {
      content: '';
      position: absolute;
      @include size(0, 2.5rem);
      background-color: $greenColor;
      transform: scaleY(1);
      transition: transform 0.1s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
      left: 0;
    }

    &:hover:before {
      transform: scaleY(1);
      width: 100%;
    }

    & span {
      position: relative;
    }

    &.active:before {
      width: 3px;
    }
  }

  & a.nav-logo {
    margin-bottom: 3rem;
    text-align: center;
    padding-left: 0;
    margin-left: -1rem;

    &:before {
      content: '';
      display: none;
    }
  }

  & p.show-more {
    border-top: 1px solid white;
    margin: 1.875rem 0 1.25rem;
    padding-top: 1.25rem;

    & svg {
      transform: rotate(180deg);
      margin-left: 0.625rem;
      transition: all .2s;
    }

    & svg.arrow-rotated {
      transform: rotate(0);
    }

    &:hover {
      cursor: pointer;
    }
  }

  & .sub-items {
    padding-left: 1.5rem;
    max-height: 0;
    overflow: hidden;
    transition: all .2s;

    & a {
      font-size: 13px;
    }

    &.show-items {
      max-height: 37.5rem;
    }
  }

  .nav-icon {
    display: none;

    @include size(1.625rem, 1.75rem);
    position: absolute;
    right: 1.25rem;
    top: 0.625rem;
    z-index: 2;
    transition: .5s ease-in-out;

    & span {
      display: block;
      position: absolute;
      @include size(100%, 2px);
      background: white;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 5px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 0.875rem;
      }

      &:nth-child(4) {
        top: 1.4375rem;
      }
    }

    &.open span:nth-child(1),
    &.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    &.open span:nth-child(2) {
      transform: rotate(45deg);
    }

    &.open span:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    padding: 0 1.25rem;
    position: fixed;
    left: 0;
    right: 0;
    height: 3.125rem;
    z-index: 999;
    transition: all .2s;
    overflow: hidden;

    & a.nav-logo {
      text-align: left;
      margin-left: 0;
    }

    & .nav-icon {
      display: block;
    }

    &.show-nav {
      height: 100vh;
    }
  }
}
