@import 'sass/common/all';

header h1 {
  font-size: 1.75rem;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
}

.no-scrolling {
  overflow: hidden !important;
}

.content {
  max-width: 68.75rem;
  margin: 0 auto 8rem;
  padding: 0 2rem;
}
