//Mixin for buttons different sizes
@mixin buttonSize($width, $height) {
  width: $width;
  height: $height;
  line-height: $height;
}

button,
a.button {
  border: 0;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.875rem;
  background-color: transparent;
  text-transform: capitalize;
  display: inline-block;
  @include buttonSize(100%, 3.5rem);
  cursor: pointer;
  transition: all .2s;
  padding: 0;
  text-align: center;

  &.button-green {
    border: 1px solid $greenColor;
    background: linear-gradient(to right, white 50%, $greenColor 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    color: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);

    &:hover {
      color: $greenColor;
      background-position: left bottom;
    }
  }

  &.button-white {
    border: 1px solid $greenColor;
    background: linear-gradient(to left, white 50%, $greenColor 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    color: $greenColor;

    &:hover {
      color: white;
      background-position: left bottom;
    }
  }

  &.button-red {
    border: 1px solid red;
    background: linear-gradient(to left, red 50%, white 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    color: white;

    &:hover {
      color: red;
      background-position: left bottom;
    }
  }

  &.button-blue {
    border: 1px solid blue;
    background: linear-gradient(to left, blue 50%, white 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    color: white;

    &:hover {
      color: blue;
      background-position: left bottom;
    }
  }

  &.button-black {
    background-color: black;
    color: white;
    border: 1px solid black;
    @include size(13rem, 3.25rem);
    line-height: 3.25rem;
  }

  &.button-black-outline {
    color: black;
    border: 1px solid black;
  }

  &.button-green-outline {
    color: $greenColor;
    border: 1px solid $greenColor;
  }

  &.button-simple {
    color: $greenColor;
  }

  &.button-inactive {
    color: white;
    background: $inactiveColor;
  }

  &:hover {
    cursor: pointer;
  }
}


.content-actions {
  text-align: right;

  & button {
    @include buttonSize(12rem, 3.25rem);
    font-weight: 500;

    &:not(:last-of-type) {
      margin-right: 1.5rem;
    }
  }
}
