@import './backgrounds.scss';

header{
  padding-right: 1.7rem;
  padding-left: 1.7rem;
}

input,
select,
textarea {
  @include size(100%, 2.875rem);
  max-width: 28.125rem;
  border: 1px solid #d8d8d8;
  background: $whiteColor;
  border-radius: 3px;
  padding: 0 1rem;
  margin-top: 0.5rem;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;

  &:disabled {
    background-color: transparent;
  }

  &.full-width {
    max-width: none;
  }
}

textarea {
  resize: vertical;
  padding: 1rem;
  min-height: 15rem;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  max-width: 100%;
  padding:0;
  min-height: 100vh;
  @include flexbox(flex, row, unset, unset, unset);

  aside {
    flex: 0 1 14.6875rem;
  }

  main {
    flex: 1;
    padding: 0 1.25rem;
  }

  .nav-mobile {
    display: none;
  }
}

.panel {
  background-color: #f9f9f9;
  padding: 1.875rem;
  position: relative;
  @include center(68.75rem);
  margin-bottom: 1.5rem;

  &-header {
    @include center(68.75rem);
    padding: 0;
    margin-bottom: 0;
  }

  &-medium {
    @include center(57.1875rem);
  }

  &-big {
    @include center(71.25rem);
  }

  &-search {
    margin-bottom: 3rem;
    padding: 0;
    background: $whiteColor;
  }

  &__header {
    @include font(1rem, 700, 2);
    margin-bottom: 1.875rem;
  }
}

//Content split in Payment Information
.content-split {
  display: flex;
  flex-direction: row;
  max-width: 68.75rem;
  margin: 0 auto;

  &-left {
    flex: 1;
    margin-right: 1.875rem;
  }

  &-right {
    flex: 0 0 18.75rem;
  }

  &-half {
    flex: 1;

    &:not(:last-of-type) {
      margin-right: 1.25rem;
    }
  }
}

//Text alignments, weight, strikethrough
.text {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-bold {
    font-weight: 700;
  }

  &-strikethrough {
    text-decoration: line-through;
  }

  &-red {
    color: $dangerColor;
  }

  &-green {
    color: $greenColor;
  }
}


//Backgrounds
.background {
  &-light-green {
    background-color: rgba(64, 169, 96, 0.1);
  }
}


//No Paddings
.no {
  &-padding {
    padding: 0;
  }

  &-pl {
    padding-left: 0 !important;
  }
}


.page-submit {
  margin-bottom: 3rem;

  & button {
    @include buttonSize(16.25rem !important, 3.75rem !important);
    @include font(1.125rem !important, 800 !important, inherit !important);
  }
}

.backdrop {
  @include pseudo-absolut("", fixed, 0, 0, 0, 0);
  z-index: 1040;
  background-color: black;
  opacity: .4;
}

.close-icon {
  @include font(4rem, 100, 2.5rem);
  @include size(2rem);
  position: absolute;
  top: .5rem;
  right: 1rem;

  &:hover {
    cursor: pointer;
  }

  &--white {
    color: white;
  }
}

@media only screen and (max-width: 1024px) {
  .recommended-designs .panel {
    padding: 1rem 0.5rem 1rem 0.5rem;
  }

  .container {
    flex-direction: column;
    overflow: hidden;

    main {
      margin-top: 3.125rem;
    }

    aside {
      flex-basis: 100%;
    }

    .nav-desktop {
      display: none;
    }

    .nav-mobile {
      display: initial;
    }
  }

  .panel {
    padding: 1.25rem;
  }
}
