@import 'src/sass/common/variables.scss';
@import 'src/sass/common/button.scss';

@mixin pseudo-checkbox($display: block, $pos: absolute, $content: "", $borderRadius: 2px, $transformOrigin: 0% 0%){
  content: $content;
  display: $display;
  position: $pos;
  border-radius: $borderRadius;
  transform-origin: $transformOrigin;
}

@mixin checkboxExtend {
  @include size(1.1875rem);
  border: 1px solid $inactiveColor;
  border-radius: 3px;
  display: inline-block;
  margin: 0.75rem 0.625rem 0 0;
  position: relative;

  &:before {
    @include size(0, 2px);
    @include pseudo-checkbox;
    top: 9px;
    left: 4px;
    background: black;
    transform: rotate(45deg);
    transition: all .2s .2s;
  }

  &:after {
    @include size(0, 2px);
    @include pseudo-checkbox;
    top: 14px;
    left: 7px;
    background: black;
    transform: rotate(305deg);
    transition: all .2s;
  }
}

@mixin checkboxExtendAfter {
  &:before{
    background: $greenColor;
    color: white;
    width: 7px;
    transition: all .2s;
  }

  &:after{
    background: $greenColor;
    color: white;
    width: 13px;
    transition: all .2s .2s;
  }
}

form {
  text-align: left;
  margin-bottom: 0.75rem;

  @include flexbox(flex, column, unset, space-between, unset);

  & label {
    display: block;
    color: #4a4a4a;

    &:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }
  }

  & label small {
    @include font(0.75rem, normal, 2.33);
    color: #4a4a4a;
    margin-bottom: 0;
  }

  & label small.invalid-feedback {
    color: $invalidFeedback;
    font-weight: 500;
  }

  & label input.invalid-feedback {
    border: 1px solid $invalidFeedback;
  }

  & label small.invalid-feedback input {
    border: 1px solid $invalidFeedback;
  }

  & label img {
    margin-left: 0.625rem;
  }

  & label span {
    color: $darkGray;
  }

  & input,
  & select {
    display: block;
  }

  & label[currency] {
    position: relative;
  }

  & label[currency]:after {
    content: attr(currency);
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2.75rem;
    line-height: 2.75rem;
    color: #979797;
    background: $inactiveColor;
    padding: 0 1rem;
    border: 1px solid $inactiveColor;
  }
}

.form-container {
  max-width: 28.125rem;
  text-align: center;
  box-sizing: border-box;

  & h1 {
    @include font(2rem, normal, 1.47);
    min-height: 150px;

    & span {
      @include font(1rem, normal, 1.75);
      display: block;
    }

    & strong {
      font-weight: 500;
    }
  }

  &-left {
    position: absolute;
    right: 9.0625rem;
    top: 8.625rem;
    background-color: white;
    max-width: 39.25rem;
    padding: 2.5rem 5rem;
  }

  &-center {
    margin: 0 auto;
    padding: 0 1.25rem;
    background-color: transparent;

    & h1 {
      width: 37.5rem;
      margin-left: -5.6875rem;
    }
  }

  &-larger {
    max-width: 42.375rem;
    padding: 0;

    & h1 {
      width: 100%;
      margin: 0 auto;
    }
  }

  &-full {
    max-width: 100%;
  }
}

.form-2-inputs {
  min-height: 15.625rem;
}

.form-3-inputs {
  min-height: 24.5rem;
}

.form-notification {
  @include flexbox(flex, row, unset, unset, flex-start);
  @include font(0.75rem, normal, 1.5);
  padding: 0.625rem;
  margin-top: 1.5rem;

  &-orange {
    background-color: $transparentOrange;
  }

  &-blue {
    background-color: $transparentBlue;
  }


  & img {
    margin-right: 0.625rem;
  }

  & span {
    font-weight: 500;
    width: initial;
    margin-left: 0;
  }
}

.form-actions {
  @include flexbox(flex, row, unset, space-between, flex-end);
  @include font(0.875rem, normal, 1.43);
  margin-bottom: 3rem;
  min-height: 2.125rem;

  & a {
    color: $greenColor;
  }

  & input {
    display: none;
  }

  & label:hover {
    cursor: pointer;
  }

  & label:hover span {
    border: 1px solid $greenColor;
    transition: all .2s;
  }

  & span {
    @include checkboxExtend;
  }

  & input[type=checkbox]:checked + span {
    @include checkboxExtendAfter;
    border: 1px solid $greenColor;
  }
}

.form-row {
  @include flexbox(flex, row, unset, space-between, unset);

  & label {
    flex: 1;
    margin-right: 20px;
  }

  & .dropdown {
    max-width: 13.25rem;
    position: relative;
  }

  & .dropdown-full {
    width: 100%;
    max-width: 100%;
  }

  & .dropdown p {
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    padding: 0 1rem;
    margin-top: 0.5rem;
    background-color: white;
    font-size: 1rem;
    line-height: 2.875rem;
  }

  & .dropdown p:hover {
    cursor: pointer;
  }

  & .dropdown p:after {
    content: '';
    position: absolute;
    bottom: 0.75rem; right: 0.625rem;
    @include size(1.5rem);
    transform: rotate(-180deg);
    background: center / contain no-repeat url('/public/img/icons/icon-up-chevron.svg');
    transition: all .2s;
  }

  & .dropdown p.isOpen:after {
    transform: rotate(0);
  }

  & .dropdown ul {
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 6px 0 rgba(58, 64, 75, 0.2), 0 0 3px 0 rgba(57, 62, 71, 0.25);
    z-index: 4;
  }

  & .dropdown ul li {
    line-height: 2.625rem;
    background-color: white;
    padding: 0 1rem;
  }

  & .dropdown ul li:hover {
    cursor: pointer;
    background-color: #fafafb;
  }
}

.form-buttons {
  @include flexbox(flex, row, unset, space-between, unset);
}

.form-avatar {
  max-width: 7.8125rem;
  text-align: center;
  margin-bottom: 1.5rem;

  &__image {
    @include size(7.8125rem);
    border-radius: 50%;
    background-color: #c4c4c4;
    margin-bottom: 0.75rem;
  }

  & a {
    font-size: 0.875rem;
    color: $linkBlue;
  }
}

.form-fileupload {
  margin-bottom: 3.5rem;

  & a {
    color: $greenColor;
  }

  & input[type=file],
  & input[type=checkbox] {
    display: none;
  }

  & label  {
    margin: 0 0 1rem;
    color: black;
  }

  & label:hover {
    cursor: pointer;
  }

  & span {
    @include checkboxExtend;
    vertical-align: text-bottom;
  }

  & input[type=checkbox]:checked + span {
    @include checkboxExtendAfter;
  }

  & .browse {
    border: 2px dashed #d8d8d8;
    border-radius: 3px;
    height: 13.75rem;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
  }

  & .browse label {
    @include buttonSize(16.75rem, 2.875rem);
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 500;
    margin: 0 auto;
  }

  & .browse label:hover {
    cursor: pointer;
  }

  & .browse small {
    font-size: 0.75rem;
    color: $darkGray;
  }

  & .browse small.invalid-feedback {
    color: $invalidFeedback;
    display: block;
  }

  & .image-list {
    height: 8.75rem;
    overflow-y: auto;
    margin-bottom: 1rem;
  }

  & .image-list p {
    position: relative;
    text-align: left;
  }

  & .image-list p img {
    position: absolute;
  }

  & .image-list p img:hover {
    cursor: pointer;
  }

  & .image-list p img.icon-delete {
    right: 0;
    top: 2px;
  }

  & .image-list p img.icon-ready {
    right: 30px;
    top: 6px
  }
}

.form-ccd {
  margin-top: 1.5rem;

  & input[type=number] {
    padding: 0 1rem;
  }

  & label {
    @include flexbox(flex, row, unset, space-between, center);
  }

  & input#csc {
    width: 10.9375rem;
    display: inline-block;
  }

  & input#cedm,
  & input#cedy {
    width: 4.6875rem;
    display: inline-block;
  }

  & span {
    padding: 0 10px;
    color: #979797;
  }
}

.form-radio {
  & p {
    margin-bottom: 1rem;
  }

  & label {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: 2rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  & input {
    display: none;
  }

  & span {
    @include size(1rem);
    margin-right: 0.5rem;
    position: relative;
    display: inline-block;
    vertical-align: text-top;

    &:after,
    &:before {
      content: '';
      @include size(1rem);
      position: absolute;
      top: 0; left: 0;
      border-radius: 50%;
      display: block;
    }

    &:before {
      background: $darkGray;
      transition: all .2s;
    }

    &:after {
      background: white;
      transform: scale(0.9);
      transition: all .2s;
    }
  }

  & input:checked ~ span {
    &:before {
      transform: scale(1.04);
      background: $greenColor;
    }

    &:after {
        transform: scale(.5);
        transition: transform .3s ease;
    }
  }

  &-list label {
    display: block;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
}

.form-checkboxes {
  @include flexbox(flex, row, wrap, unset, unset);
  margin-bottom: 3.5rem;

  & p {
    margin-bottom: 1rem;
    flex-basis: 100%;
  }

  & input {
    display: none;
  }

  & a {
    color: $greenColor;
  }

  & label  {
    color: black;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  & label:hover {
    cursor: pointer;
  }

  & span {
    @include checkboxExtend;
    vertical-align: text-bottom;
  }

  & input[type=checkbox]:checked + span {
    @include checkboxExtendAfter;
  }

  & label:nth-child(even) {
    flex-basis: 32%;
  }

  & label:nth-child(odd) {
    flex-basis: 60%;
  }
}

.form-quantity-sizes {

  & .table-header,
  & .table-footer,
  & .table-row {
    @include flexbox(flex, row, unset, flex-end, center);
    border: 1px solid $inactiveColor;
    border-bottom: 0;
  }

  & .table-header,
  & .table-footer {
    font-weight: 500;
    background-color: #f6f6f7;
    height: 4.5rem;
    padding: 0 1.5rem;

    & li {
      flex: 0 1 50%;
    }
  }

  & .table-row li {
    padding: 0.875rem 0.875rem 0.875rem 1.5rem;
    flex: 1;
  }

  & .table-row li:last-of-type {
    flex: 0;
  }

  & .table-row li input {
    margin-top: 0;
  }

  & .table-row li img:hover {
    cursor: pointer;
  }

  & .table-footer {
    border: 1px solid $inactiveColor;
  }

  & .table-footer li {
    text-align: right;
  }

  & .table-footer li span {
    margin-left: 2.25rem;
  }
}

small {
  @include font(0.875rem, normal, 2);
  margin-bottom: 1.5rem;
  display: inline-block;

  & a {
    color: $linkGreen;
  }
}

p {
  @include font(0.875rem, normal, 2);

  & a {
    color: $linkBlue;
  }
}

a {
  font-weight: 500;
}

@media only screen and (max-width: 940px) {
  .form-container-left {
    right: 0.625rem;
    left: 0.625rem;
    margin: auto;
  }
}


@media only screen and (max-width: 768px) {
  .form-container {
    margin-right: auto;
  }

  .form-container-center {
    padding: 0 1.25rem;
  }

  .form-container-center h1 {
    width: 100%;
    margin: 0 auto 1.5rem;
  }
}

@media only screen and (max-width: 630px) {
  .form-container-left {
    padding: 2.5rem 2rem;
  }

  .form-3-inputs .form-row {
    flex-wrap: wrap;
  }

  .form-3-inputs .form-row label {
    flex-basis: 100%;
    margin-bottom: 1.5rem;
    margin-right: 0;
  }
}

@media only screen and (max-width: 425px) {
  .form-container-left {
    padding: 0.625rem;
  }

  .form-actions {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-actions a {
    margin-top: 0.75rem;
  }

  p a {
    display: block;
  }
}
