@import 'projects/tsweb-common/src/lib/sass/common/variables.scss';

$imageSize: 15rem;

.invoice-summary {
  font-size: 0.875rem;

  & h1 {
    font-weight: 500;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    & span {
      height: 1.375rem;
    }

    & i {
      @include size(1.375rem, 1.378rem);
      @include font(2.5rem, 100, 0.3);
      font-style: normal;
      margin-left: 1.25rem;
      margin-bottom: 0.625rem;
      display: inline-block;
      transform: rotate(90deg);
      transition: all .2s;
      vertical-align: -webkit-baseline-middle;
      text-align: center;
    }

    & i.rotated {
      transform: rotate(-90deg);
    }
  }

  &__content {
    max-height: 0;
    transition: all .2s;
    overflow: hidden;

    &.expanded {
      max-height: 600rem;
    }

    & p {
      padding: 6px 0;

      display: flex;
      justify-content: space-between;
    }
  }

  &__image {
    @include size($imageSize);

    & img {
      @include size($imageSize);
      object-fit: contain;
    }
  }

  &__customizations {
    padding-left: 1rem;

    & p {
      display: flex;
      justify-content: space-between;
      word-break: break-all;
    }

    & p span {
      min-width: 3.75rem;
      text-align: right;
    }

    & img {
      @include size(3.125rem);
      object-fit: contain;
      margin-right: 0.625rem;
    }
  }

  & hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
  }
}
