@import 'projects/tsweb-common/src/lib/sass/common/variables.scss';
@import 'projects/tsweb-common/src/lib/sass/common/button.scss';

.content {
  max-width: 68.75rem;
  margin: 0 auto 8rem;
  padding: 0 2rem;
}

.panel {
  h3 {
    @include font(1rem, 700, 2);
    margin-bottom: 1.5rem;
    padding-bottom: 1.875rem;
    border-bottom: 1px solid #dadada;
  }
}

.top-info {
  @include font(1.25rem, 500, 1.70);
  margin-bottom: 1.875rem;
  text-transform: uppercase;

  display: flex;
  flex-direction: row;

  .info-col {
    margin-right: 2.5rem;

    span {
      @include font(0.875rem, 500, 2);
      display: block;
      color: #4a4a4a;
      text-transform: capitalize;
    }
  }

  & button {
    @include size(8.75rem, 2.375rem);
    line-height: 1;

    &:not(:last-of-type) {
      margin-right: 2.5rem;
    }
  }
}

hr {
  border: 1px dashed #dadada;
  margin-bottom: 1.875rem;
}

.order-status {
  .turnaround {
    text-align: center;

    .type {
      @include font(1rem, bold, 2rem);
      display: inline-block;
      width:100%;
    }

    .date {
      font-size: 1.125rem;
      font-weight: 500;
      display: inline-block;
      width:100%;
    }

    img {
      margin: 1.375rem auto 1.875rem;
    }
  }
}


.billing-info,
.shipping-info,
.product-info,
.quote-information,
.product-information,
.invoice-summary,
.shipping-information {
  display: flex;
  justify-content: space-between;

  p {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  p em {
    font-style: normal;
  }

  p span {
    display: block;
    @include font(0.75rem, 400, 1.5rem);
  }

  p.title,
  p.total {
    flex-basis: 100%;
  }

  p.title {
    @include font(1.125rem, 600, inherit);
  }

  p.images {
    flex-basis: 100%;
  }

  p.images img {
    @include size(6.25rem);
    object-fit: contain;
    margin-bottom: 0.625rem;

    &:not(:last-of-type) {
      margin-right: 0.625rem;
    }
  }
}

.quote-information,
.product-information,
.shipping-information {
  flex-wrap: wrap;

  p {
    flex: 0 1 50%;
  }
}

.invoice-summary,
.product-info {
  flex-wrap: wrap;
  justify-content: flex-start;

  & p {
    flex: 0 1 25%;
  }
}

.order-pricing {
  font-size: 0.75rem;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  display: flex;
  flex-wrap: wrap;

  h5 {
    flex-basis: 100%;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  p {
    flex: 1;
    font-weight: normal;
    background-color: white;
    border: 1px solid $grayLightColor;

    &:not(:last-of-type) {
      border-right: 0;
    }

    span {
      font-weight: 600;
      height: 2.5rem;
      padding: 0 1.5rem;

      display: flex;
      align-items: center;
    }

    em {
      font-style: normal;
      padding: 0 1.5rem;
      height: 2.5rem;
      display: block;
      line-height: 2.5rem;
      border-top: 1px solid $grayLightColor;
    }
  }
}
