@import './variables.scss';
@import './button.scss';

$buttonHeight: 3rem;
$imageSize: 8.75rem;

// Order styles
figure.order {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 0;
  background-color: #f9f9f9;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background: #dadada;
  }

  & figcaption {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 1.875rem;
  }

  & .order-image {
    flex: 0 0 $imageSize;
    height: $imageSize;
    display: inline-block;

    & img {
      @include size($imageSize);
      object-fit: contain;
    }
  }

  & .order-content {
    flex: 1;
    padding-right: 1.875rem;

    & h1 {
      @include font(1.25rem, 600, normal);
      text-align: left;
      margin-bottom: 14px;
      text-transform: capitalize;
    }

    & h1 span {
      display: block;
      @include font(0.875rem, 400, normal);
      margin-bottom: 8px;
    }

    ul {
      display: flex;
      flex-direction: row;
      color: black;
    }

    & li {
      flex: 1;
      font-weight: 500;
      text-transform: capitalize;
      position: relative;
    }

    & li small {
      position: absolute;
      top: 5px;
      right: 0;
    }

    & .status {
      text-transform: none;
    }

    & li span:first-child {
      display: block;
      @include font(12px, 500, 1.5rem);
    }

    & .urgent {
      color: #d0021b;
    }

    & h1 a,
    & li a {
      color: black;
      border-bottom: 1px solid transparent;
      transition: all .2s;

      &:hover {
        border-bottom: 1px solid black;
      }
    }
  }

  & .order-actions {
    width: 8.75rem;
    display: flex;
    flex-direction: column;
  }

  & button,
  & a.button {
    @include size(140px, $buttonHeight);
    line-height: $buttonHeight;
    border-radius: 3px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

.order-notification {
  text-align: center;
  padding: 1.5rem 0;
  border-top: 1px solid $inactiveColor;

  span {
    color: #e46e02;
    font-weight: 600;
  }
}

.warning {
  font-size: 0.75rem;
  margin: 0.625rem 0;
}

.danger-icon {
  width: 0.9375rem;
  height: 0.9375rem;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 0.9rem;
  text-align: center;
  color: #fff;
  background-color: #d0021b;
  display: inline-block;
  border-radius: 50%;
  vertical-align: text-top;
  margin-right: 5px;
}

@media only screen and (max-width: 1024px) {
  figure.order figcaption {
    flex-direction: column;
    padding-left: 1.25rem;
  }

  figure.order .order-content {
    padding-right: 0;
  }

  figure.order .order-actions {
    margin-top: 1rem;
  }

  figure.order .order-content ul {
    flex-wrap: wrap;
  }

  figure.order .order-content ul li {
    flex: 0 1 50%;
  }

  figure.order figcaption button {
    margin-top: 0.625rem;
    margin-left: 1.25rem;
  }
}


@media only screen and (max-width: 630px) {

  figure.order .order-image {
    flex: 0 0 6.25rem;
    height: 6.25rem;
  }

  figure.order .order-content {
    & li {
      font-size: 0.875rem;
    }

    & li span:first-child {
      font-size: 0.625rem;
    }

    & h1 a {
      font-size: 1rem;

      & span {
        font-size: 0.875rem;
      }
    }
  }

  figure.order figcaption button {
    @include buttonSize(6.875rem, 1.875rem);
    font-size: 0.75rem;
  }

  figure.order .order-content ul li {
    flex: 0 1 100%;
    padding-bottom: 0.625rem;
  }
}
