//This CSS is used in Designer Dashboard for arranging the tables
@mixin checkboxExtend {
  @include size(1.25rem);
  border: 2px solid $inactiveColor;
  border-radius: 3px;
  display: inline-block;
  margin: 0.75rem 0.625rem 0 0;
  position: relative;
  background-color: white;

  &:before {
    @include size(0, 2px);
    @include pseudo-checkbox;
    top: 8px;
    left: 3px;
    transform: rotate(45deg);
    transition: all .2s .2s;
  }

  &:after {
    @include size(0, 2px);
    @include pseudo-checkbox;
    top: 13px;
    left: 6px;
    transform: rotate(305deg);
    transition: all .2s;
  }
}

@mixin checkboxExtendAfter {
  &:before{
    background: $inactiveColor;
    width: 7px;
    transition: all .2s;
  }

  &:after{
    background: $inactiveColor;
    width: 13px;
    transition: all .2s .2s;
  }
}

.panel-table {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.6875rem;

  & li {
    flex: 1;
  }

  & li:not(:first-of-type) {
    padding-left: 0.7rem;
  }

  &__header {
    align-items: flex-start;
    @include font(0.875rem, 500, normal);
    color: #4a4a4a;

    & .panel-table__concierge {
      color: #4a4a4a;
    }
  }

  &__body {
    align-items: center;
    background-color: white;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: all .2s;
    color: $darkGray;
    font-size: 0.75rem;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    &:hover {
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &__checkbox {
    & input {
      display: none;
    }

    & label {
      position: relative;
    }

    & label:hover {
      cursor: pointer;
    }

    & span {
      @include checkboxExtend;
      margin-left: 10px;
      margin-top: 0;
    }

    & input[type=checkbox]:checked ~ span {
      @include checkboxExtendAfter;
    }

    & input[type=checkbox]:disabled ~ span {
      border: 1px solid $inactiveColor;
      background-color: $grayColor;
    }
  }

  &__artwork a {
    width: 2.625rem;
    height: 2.625rem;
    display: inline-block;

    & img {
      max-width: 98%;
      max-height: 100%;
    }
  }

  &__orderNumber,
  &__entityID {
    flex: 0 1 9.375rem !important;
  }

  &__productName {
    flex: 0 1 6.25rem !important;
  }

  &__salesRep {
    width: 4.6875rem !important;
    word-break: break-all;
  }

  &__entityID a,
  &__orderNumber a {
    color: black;
    text-decoration: underline;
    transition: all .2s;

    &:hover {
      color: #0056b3;
    }
  }

  &__concierge {
    color: #6202EE;
  }

  &__deliveryMethod {
    text-transform: capitalize;

    &.tat-standard {
      color: $greenColor;
    }

    &.tat-urgent {
      color: $invalidFeedback;
    }

    &.tat-rush {
      color: #e46e02;
    }
  }

  &__actions {

    & .panelTabelActions {
      @include size(3.5rem);
      display: inline-block;
      padding: 7px 0;
      text-align: center;
      cursor: pointer;
      position: relative;
      transition: all .2s;
    }

    & .panelTabelActions img {
      @include size(auto, 100%);
      padding: 0.4375rem 0;
      border-radius: 0.625rem;
    }

    & .panelTabelActions:hover img {
      background-color: #ecf6ef;
    }

    & input {
      display: none;
    }

    & .subitem {
      position: absolute;
      width: 8.75rem;
      max-height: 0;
      overflow: hidden;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
      background-color: white;
      z-index: 5;
      transition: max-height .2s;
    }

    & .subitem a,
    & .subitem button {
      color: #979797;
      background-color: white;
      cursor: pointer;
      @include buttonSize(8.75rem,2.625rem);
      border: 0;
      font-size: 0.8125rem;
      font-weight: 500;
      text-align: left;
      transition: all .2s;
      padding-left: 0.75rem;
      display: inline-block;

      &:hover {
        background-color: #40a960;
        color: #fff;
      }
    }

    & .panelTabelActions:hover > .subitem {
      max-height: 37.5rem;
    }

    & .edits {
      position: absolute;
      top: 0; right: -5px;

      & span {
        @include size(1rem);
        display: block;
        border-radius: 50%;

        &:not(:last-of-type) {
          margin-bottom: 2px;
        }
      }

      &__customer {
        background-color: red;
      }

      &__factory {
        background-color: blue;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .panel-table__actions .subitem {
    right: 0;
  }

  .panel-table__date,
  .panel-table__leadScore,
  .panel-table__clearbitScore,
  .panel-table__deadline,
  .panel-table__artistName,
  .panel-table__salesRep {
    display: none;
  }

  .panel-table__orderNumber,
  .panel-table__entityID {
    flex: 0 1 7.375rem !important;
  }

}

@media only screen and (max-width: 767px) {
  .panel-table__orderNumber,
  .panel-table__entityID {
    flex: 0 1 7.375rem !important;
  }

  .panel-table__date,
  .panel-table__leadScore,
  .panel-table__clearbitScore,
  .panel-table__deadline,
  .panel-table__artistName,
  .panel-table__salesRep {
    display: none;
  }
}


@media only screen and (max-width: 600px) {
  .panel-table__entityID,
  .panel-table__lifetimeValue,
  .panel-table__date,
  .panel-table__leadScore,
  .panel-table__clearbitScore,
  .panel-table__concierge,
  .panel-table__deliveryMethod,
  .panel-table__deadline,
  .panel-table__artistName,
  .panel-table__salesRep {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .panel-table__customerID,
  .panel-table__entityID,
  .panel-table__lifetimeValue,
  .panel-table__date,
  .panel-table__leadScore,
  .panel-table__clearbitScore,
  .panel-table__productName,
  .panel-table__concierge,
  .panel-table__deliveryMethod,
  .panel-table__deadline,
  .panel-table__artistName,
  .panel-table__salesRep {
    display: none;
  }
}
