@import 'projects/tsweb-common/src/lib/sass/common/variables.scss';
@import 'projects/tsweb-common/src/lib/sass/common/button.scss';

// Pending Orders styles
.order-pending {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  min-height: 100px;
  margin-bottom: 0.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;

  &__tier {
    @include size(1.875rem);
    border-radius: 50%;
    text-align: center;
    line-height: 2;
    vertical-align: top;

    &.tier1 {
      background-color: #d0021b;
    }

    &.tier2 {
      background-color: yellowgreen;
    }
  }

  &__content {
    flex: 1;
    align-self: flex-start;
    padding: 0 3.125rem 0 1rem;
    color: #4a4a4a;

    & h1 {
      @include font(0.75rem, 600, 1.6);
      display: block;
      text-align: left;
    }

    & p {
      font-size: 0.75rem;
    }

    & span {
      font-size: 0.625rem;
      color: #9b9b9b;
    }

    .info {
      @include font(0.875rem, normal, normal);
    }

    .pending-digit {
      @include font(0.875rem, 600, normal);
      color: $orangeLighter;
    }
  }

  &__actions {
    flex: 0 1 8.75rem;

    & button,
    & a {
      line-height: 1;
      height: 2.5rem;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 767px) {
  .order-pending {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .order-pending__actions {
    flex: initial;
    margin-top: 1.2rem;
  }

  .order-pending__content{
    padding: 0 1rem 0 0;
  }
}
