/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 100%; // 1rem = 16px
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
    text-align: left;
}

input,
button {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  outline: none !important;
}

a {
  text-decoration: none !important;
  font-weight: 500;
  color: black;
}
