$header-height: 100px;
$step-height: 185px;

//Margins
$centerItem: 0 auto;

// Colors
$whiteColor: #ffffff;
$blackColor: #000000;
$greenColor: #40a960;
$greenLighter: #1fcd64;
$greenLight: #22ad59;
$orangeLighter: #e46e02;
$blueLighter: #4a90e2;
$grayColor: #f9f9f9;
$grayLightColor: #f0f2f3;
$inactiveColor: #d8d8d8;
$darkGray: #979797;
$grayDarkColor: #979797;
$grayLightColor: #dadada;
$grayDarkerColor: #4a4a4a;
$grayDarkerBlackColor: #939393;
$dangerColor: #d82137;
$dangerForm: #d0021b;
$colorBlue: #0066e2;
$lightGrayBorder: #ced4da;
$enterpriseBlue: #054af0;

// Border Colors
$grayLightIntenseBorder: #EAEAEA;
$grayLightBorderColor: #e6e6e6;

//Alert colors
$invalidFeedback: #d0021b;

//Notification colors
$transparentOrange: rgba(#e46e02, .1);
$transparentBlue: rgba(#054af0, .1);

//Link colors
$linkGreen: #39c464;
$linkBlue: #054af0;

//Chat colors
$chatBlue: #d7e8fc;
$chatGray: #ebebeb;
$chatDate: #9b9b9b;

@mixin disabledCTA($grayDarkerColor){
  border:$grayDarkerColor;
  color: 1px solid $grayDarkerColor;
}

//Center element
@mixin center($maxWidth) {
  max-width: $maxWidth;
  margin: 0 auto;
}

//Mixin for buttons different sizes
@mixin buttonSize($width, $height: $width) {
  width: $width;
  height: $height;
  line-height: $height;
}

//Font properties
@mixin font($fontSize, $fontWeight, $lineHeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

//Size mixin
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

//Annotation
$annotationCircleBackground: #2A91DC;

//Flexbox properties
@mixin flexbox($display, $flexDirection, $flexWrap, $justifyContent, $alignItems ) {
  display: $display;
  flex-direction: $flexDirection;
  flex-wrap: $flexWrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

//Checkbox styling
@mixin pseudo-checkbox($display: block, $pos: absolute, $content: "", $borderRadius: 2px, $transformOrigin: 0% 0%){
  content: $content;
  display: $display;
  position: $pos;
  border-radius: $borderRadius;
  transform-origin: $transformOrigin;
}

//:after or :before properties
@mixin pseudo-absolut($content: "", $position: absolute, $left: 0, $right: 0, $top: 0, $bottom: 0) {
  content: $content;
  position: $position;
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
}

//Pseudo-element
@mixin pseudo-element($position, $top, $right, $bottom, $left) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

//Button disabled
@mixin buttonDisabled() {
  color: $inactiveColor;
  background-color: $whiteColor;
  border: 1px solid $inactiveColor;
}

